@charset "UTF-8";
body {
  font-family: "Oswald", sans-serif;
}

h2 {
  font-size: 3rem;
  padding: 2dvw 0;
  margin: 0;
  font-weight: 600;
}

.banner {
  background-color: #61787F;
  color: #ffffff;
  padding: 2dvw 0;
  padding-left: 2dvw;
  margin: 0dvh 7dvw 0;
  display: flex;
  text-align: center;
  border-radius: 5px;
  margin-top: 6dvh;
  border: 1px solid #000000;
  flex-wrap: wrap;
}
.banner .logo img {
  width: 11dvw;
  height: 9dvw;
}
.banner .text {
  font-size: 4dvw;
  font-weight: 300;
  margin-left: 4dvw;
  align-self: center;
}

.content-container-bestmovie {
  margin: 0dvh 7dvw 0;
}

.card-best-movie {
  position: relative;
  border: 5px solid #000000;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.card-best-movie .card-img-container {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1dvw;
}
.card-best-movie .card-img-top,
.card-best-movie .modal-img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.card-best-movie .card-body {
  padding: 0.5dvw 1dvw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 65%;
}
.card-best-movie .card-title {
  font-size: 4dvw;
  margin-bottom: 0.5dvh;
  margin-top: 0;
}
.card-best-movie .card-text {
  font-size: 2.5dvw;
  margin-right: 0.5dvw;
  margin-top: 0;
  font-weight: 300;
}
.card-best-movie .btn {
  padding: 1dvw 3dvw;
  margin: 1dvh 2dvw;
  font-size: 2dvw;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  color: #fff;
  background-color: #FA0B0B;
  border: none;
  cursor: pointer;
  align-self: flex-end;
  margin-top: auto;
}
.card-best-movie .btn:hover {
  background-color: #ce0404;
}

.movies-container {
  margin: 0dvh 7dvw 0;
}
.movies-container .section-header {
  margin-bottom: 1rem;
}
.movies-container .movie-card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.movies-container .movie-img {
  width: 100%;
  height: 432px;
  display: block;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
.movies-container .movie-card-body {
  position: absolute;
  top: 4dvh;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 1dvh;
  display: flex;
  flex-direction: column;
  height: 30%;
}
.movies-container .movie-card-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 0.1dvh;
  align-self: flex-start;
  position: relative;
  top: -5dvh;
}
.movies-container .movie-btn {
  padding: 0.5dvw 1dvw;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: absolute;
  bottom: 2dvh;
  right: 2dvh;
  font-weight: bold;
}
.movies-container .movie-btn:hover {
  background-color: #b32e2e;
}
.movies-container .view-more-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.movies-container .view-more {
  padding: 1dvw 3dvw;
  margin: 1dvh 2dvw;
  font-size: 2dvw;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  color: #fff;
  background-color: #FA0B0B;
  border: none;
  cursor: pointer;
  align-self: flex-end;
}
.movies-container .view-more:hover {
  background-color: #ce0404;
}

.movies-grid {
  display: grid;
  grid-gap: 4dvh;
}
.movies-grid .movie-card {
  display: none;
}

@media (min-width: 1024px) {
  .movies-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .movies-grid .movie-card:nth-child(-n+6) {
    display: block;
  }
  .view-more {
    display: none;
  }
  #view-more-selected-category {
    display: none !important;
  }
}
@media (min-width: 576px) and (max-width: 1023px) {
  .movies-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .movies-grid .movie-card:nth-child(-n+4) {
    display: block;
  }
  .movies-grid.show-more .movie-card:nth-child(-n+6) {
    display: block;
  }
}
@media (max-width: 575px) {
  .movies-grid {
    grid-template-columns: 1fr;
  }
  .movies-grid .movie-card:nth-child(-n+2) {
    display: block;
  }
  .movies-grid.show-more .movie-card:nth-child(-n+6) {
    display: block;
  }
}
#category-selector-container {
  width: 300px;
  margin: 20px auto;
  position: relative;
  display: center;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  background-color: #fff;
  cursor: pointer;
}

#category-selector {
  width: 100%;
  padding: 10px;
  border: 4px solid #000;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  background-color: #fff;
  cursor: pointer;
  appearance: none;
}

#category-selector option {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  background-color: #fff;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#category-selector-container:after {
  content: "▼";
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  font-size: 18px;
  pointer-events: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal-dialog {
  position: relative;
  margin: auto;
  padding: 20px;
  top: 20%;
  max-width: 400px;
  transform: scale(1.4);
  overflow: auto;
  background-color: #fff;
  border-radius: 10px;
  border: 3px solid #010101;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 10px;
}
.modal-header-left {
  display: flex;
  flex-direction: column;
}
.modal-title {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 1.2;
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
}
.modal #modal-movie-year-genre,
.modal #modal-movie-rating-duration,
.modal #modal-movie-imdb-score {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  color: #000000;
  margin: 0;
  font-weight: 600;
}
.modal .modal-img {
  width: 150px;
  height: auto;
  border-radius: 5px;
}
.modal .modal-body {
  padding-top: 15px;
}
.modal .modal-body p {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  color: #000000;
  margin-bottom: 10px;
}
.modal .modal-body-director {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  color: #000000;
  margin-top: 20px;
}
.modal .btn-close {
  display: none;
}
.modal .modal-footer {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.modal .btn-danger {
  background-color: #d34957;
  border: none;
  padding: 10px 25px;
  color: #fff;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
}
.modal .btn-danger:hover {
  background-color: #ff001a;
}
.modal.show {
  display: block;
}

@media (max-width: 1024px) {
  .banner .text {
    font-size: 4dvw;
  }
  .banner .logo img {
    width: 13.2dvw;
    height: 10.8dvw;
  }
  h2 {
    font-size: 2rem;
  }
  .card-best-movie .card-img-container {
    width: 30%;
  }
  .card-best-movie .card-body {
    flex: 60%;
    padding: 1dvw 1dvw;
  }
  .card-best-movie .btn {
    margin-top: auto;
    align-self: flex-start;
  }
  .modal .modal-dialog {
    transform: scale(1);
  }
  .modal .modal-header {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }
  .modal .modal-img {
    order: 3;
    width: 100%;
    height: auto;
    margin-top: 15px;
    border-radius: 5px;
  }
  .modal .modal-body {
    width: 100%;
  }
  .modal .modal-body p {
    font-size: 14px;
  }
  .modal #modal-movie-summary {
    order: 4;
  }
  .modal .modal-body-actors {
    order: 2;
    margin-top: 10px;
  }
  .modal .btn-close {
    display: block;
    background: none;
    border: none;
    font-size: 35px;
    font-weight: bold;
    color: #ff0000;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
  }
  .modal .modal-footer {
    display: none;
  }
}
@media (max-width: 576px) {
  .banner {
    padding-left: 0dvw;
    flex-direction: column;
  }
  .banner .logo {
    align-self: center;
  }
  .banner .logo img {
    width: 22dvw;
    height: 18dvw;
    margin: 0 auto;
  }
  .banner .text {
    display: none;
  }
  h2 {
    font-size: 2rem;
    text-align: center;
  }
  .card-best-movie {
    flex-direction: column;
  }
  .card-best-movie .card-img-container {
    width: 100%;
    height: 250px;
    display: flex;
    object-fit: center;
    object-position: center;
  }
  .card-best-movie .card-img-top,
  .card-best-movie .modal-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    padding-left: 1dvw;
    padding-right: 3dvw;
    padding-top: 1dvh;
  }
  .card-best-movie .card-body {
    flex: 100%;
    padding: 1dvw;
  }
  .card-best-movie .card-title {
    font-size: 2rem;
    margin-left: 1dvh;
  }
  .card-best-movie .card-text {
    font-size: 1rem;
    margin-left: 1dvh;
  }
  .card-best-movie .btn {
    align-self: center;
    margin: 1dvh 0;
    padding: 3dvw 5dvw;
    font-size: 3dvw;
  }
  .view-more-container .view-more {
    padding: 2dvw 6dvw;
    font-size: 4dvw;
    border-radius: 25px;
    margin: 2dvh auto;
  }
}

/*# sourceMappingURL=styles.css.map */
