$font-family-base: "Oswald", sans-serif;
$btn-color: #FA0B0B;
$banner-bg-color: #61787F;
$banner-text-color: #ffffff;
$default-padding: 2dvw 0;
$default-margin: 0dvh 7dvw 0;
$logo-width: 11dvw;
$logo-height: 9dvw;

@mixin btn-styles {
  padding: 1dvw 3dvw;
  margin: 1dvh 2dvw;
  font-size: 2dvw;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  color: #fff;
  background-color: $btn-color;
  border: none;
  cursor: pointer;
  align-self: flex-end;

  &:hover {
    background-color: darken($btn-color, 10%);
  }
}


body {
  font-family: $font-family-base;
}

h2 {
  font-size: 3rem;
  padding: $default-padding;
  margin: 0;
  font-weight: 600;
}

.banner {
  background-color: $banner-bg-color;
  color: $banner-text-color;
  padding: $default-padding;
  padding-left: 2dvw;
  margin: $default-margin;
  display: flex;
  text-align: center;
  border-radius: 5px;
  margin-top: 6dvh;
  border: 1px solid #000000;
  flex-wrap: wrap;

  .logo {
    img {
      width: $logo-width;
      height: $logo-height;
    }
  }
  .text {
    font-size: 4dvw;
    font-weight: 300;
    margin-left: 4dvw;
    align-self: center;
  }
}

.content-container-bestmovie {
  margin: $default-margin;
}

.card-best-movie {
  position: relative;
  border: 5px solid #000000;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: row;

  .card-img-container {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1dvw;
  }

  .card-img-top,
  .modal-img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .card-body {
    padding: 0.5dvw 1dvw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 65%;
  }

  .card-title {
    font-size: 4dvw;
    margin-bottom: 0.5dvh;
    margin-top: 0;
  }

  .card-text {
    font-size: 2.5dvw;
    margin-right: 0.5dvw;
    margin-top: 0;
    font-weight: 300;
  }
  .btn {
    @include btn-styles;
    margin-top: auto;
  }
}

.movies-container {
  margin: $default-margin;
  .section-header {
    margin-bottom: 1rem;
  }
  .movie-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }
  .movie-img {
    width: 100%;
    height: 432px;
    display: block;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
  }
  .movie-card-body {
    position: absolute;
    top: 4dvh;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 1dvh;
    display: flex;
    flex-direction: column;
    height: 30%;
  }
  .movie-card-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 0.1dvh;
    align-self: flex-start;
    position: relative;
    top: -5dvh;
  }
  .movie-btn {
    padding: 0.5dvw 1dvw;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    bottom: 2dvh;
    right: 2dvh;
    font-weight: bold;
    }
  .movie-btn:hover {
    background-color: #b32e2e;
  }
  .view-more-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .view-more {
    @include btn-styles;
  }
}

.movies-grid {
  display: grid;
  grid-gap: 4dvh;

  .movie-card {
    display: none;
  }
}

@media (min-width: 1024px) {
  .movies-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .movies-grid .movie-card:nth-child(-n+6) {
    display: block;
  }
  .view-more {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 1023px) {
  .movies-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .movies-grid .movie-card:nth-child(-n+4) {
    display: block;
  }
  .movies-grid.show-more .movie-card:nth-child(-n+6) {
    display: block;
  }
}

@media (max-width: 575px) {
  .movies-grid {
    grid-template-columns: 1fr;
  }
  .movies-grid .movie-card:nth-child(-n+2) {
    display: block;
  }
  .movies-grid.show-more .movie-card:nth-child(-n+6) {
    display: block;
  }
}
#category-selector-container {
  width: 300px;
  margin: 20px auto;
  position: relative;
  display: center;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  background-color: #fff;
  cursor: pointer;
}

#category-selector {
  width: 100%;
  padding: 10px;
  border: 4px solid #000;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  background-color: #fff;
  cursor: pointer;
  appearance: none;
}


#category-selector option {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  background-color: #fff;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}


#category-selector-container:after {
  content: "▼";
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  font-size: 18px;
  pointer-events: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);

  &-dialog {
    position: relative;
    margin: auto;
    padding: 20px;
    top: 20%;
    max-width: 400px;
    transform: scale(1.4);
    overflow: auto;
    background-color: #fff;
    border-radius: 10px;
    border: 3px solid #010101;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 10px;

    &-left {
      display: flex;
      flex-direction: column;
    }
  }

  &-title {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.2;
    color: #000;
    margin-top: 0;
    margin-bottom: 0;
  }

  #modal-movie-year-genre,
  #modal-movie-rating-duration,
  #modal-movie-imdb-score {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    color: #000000;
    margin: 0;
    font-weight: 600;
  }

  .modal-img {
    width: 150px;
    height: auto;
    border-radius: 5px;
  }

  .modal-body {
    padding-top: 15px;
  }

  .modal-body p {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    color: #000000;
    margin-bottom: 10px;
  }

  .modal-body-director {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    color: #000000;
    margin-top: 20px;
  }

  .btn-close {
    display: none;
  }

  .modal-footer {
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }

  .btn-danger {
    background-color: #d34957;
    border: none;
    padding: 10px 25px;
    color: #fff;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
  }

  .btn-danger:hover {
    background-color: #ff001a;
  }

  &.show {
    display: block;
  }
}

@media (max-width: 1024px) {
  .banner {
    .text {
      font-size: 4dvw;
    }
    .logo {
      img {
      width: calc($logo-width * 1.2);
      height: calc($logo-height * 1.2);
      }
    }
  }
  h2 {
    font-size: 2rem;
  }
  .card-best-movie {
    .card-img-container {
      width: 30%;
    }
    .card-body {
      flex: 60%;
      padding: 1dvw 1dvw;
    }
    .btn {
      margin-top: auto;
      align-self: flex-start;
    }
  }
  .modal {
    .modal-dialog {
      transform: scale(1);
    }
    .modal-header {
      flex-direction: column;
      align-items: flex-start;
      position: relative;
    }

    .modal-img {
      order: 3;
      width: 100%;
      height: auto;
      margin-top: 15px;
      border-radius: 5px;
    }

    .modal-body {
      width: 100%;
    }

    .modal-body p {
      font-size: 14px;
    }

    #modal-movie-summary {
      order: 4;
    }

    .modal-body-actors {
      order: 2;
      margin-top: 10px;
    }

    .btn-close {
      display: block;
      background: none;
      border: none;
      font-size: 35px;
      font-weight: bold;
      color: #ff0000;
      position: absolute;
      top: 10px;
      right: 15px;
      cursor: pointer;
    }

    .modal-footer {
    display: none;
    }

  }
}


@media (max-width: 576px) {
  .banner {
    padding-left: 0dvw;
    flex-direction: column;
    .logo {
      align-self: center;
      img {
        width: calc($logo-width * 2);
        height: calc($logo-height * 2);
        margin: 0 auto;
      }
    }
    .text {
      display: none;
    }
  }
  h2 {
    font-size: 2rem;
    text-align: center;
  }
  .card-best-movie {
    flex-direction: column;
    .card-img-container {
      width: 100%;
      height: 250px;
      display: flex;
      object-fit: center;
      object-position: center;
    }
    .card-img-top,
    .modal-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      padding-left: 1dvw;
      padding-right: 3dvw;
      padding-top: 1dvh;
    }
    .card-body {
      flex: 100%;
      padding: 1dvw;
    }
    .card-title {
      font-size: 2rem;
      margin-left: 1dvh;
    }
    .card-text {
      font-size: 1rem;
      margin-left: 1dvh;

    }
    .btn {

      align-self: center;
      margin: 1dvh 0;
      padding: 3dvw 5dvw;
      font-size: 3dvw;
    }
  }
}
